@import "../variables";

.right-side {
  width: 57%;
  padding: 100px 0 160px;

  &__info-title {
    margin-bottom: 10px;
    font-family: 'Bai Jamjuree';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: $light-color;
  }

  &__info-text {
    margin-bottom: 35px;
    max-width: 630px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.26px;
    color: $light-color;
  }

  &__img {
    display: block;
    margin: 55px 0 100px auto;
  }
}

.work-title {
  margin-bottom: 15px;
}

.bigbox {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-bottom: 37px;
}

.box {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: $box-background-color;

  &:hover {
    transition: .4s;
    background-color: $hover-box-color;
  }

  &__name {
    text-align: center;
    margin: auto;
    font-family: 'Bai Jamjuree';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: $orange-color;
  }
}

.projects-box {
  max-width: 300px;
}

.projects {
  padding: 40px;
  background-color: $box-background-color;

  &:hover {
    transition: .4s;
    background-color: $hover-box-color;
  }

  &__mark {
    color: $box-mark-color;
  }

  &__title {
    margin: 8px 0;

    &_link {
      color: $dark-color;

      &:hover {
        transition: .4s;
        color: $orange-color;
      }
    }
  }

  &__text {
    margin-top: 25px;
    margin-bottom: 15px;
    max-width: 555px;
  }

  &__link {
    &:hover {
      transition: .4s;
      color: $orange-color;
    }
  }
}

@media (max-width: 1120px) {
  .right-side {
    width: 100%;
    padding: 0;

    &__info-box {
      margin-top: 230px;
    }

    &__info-text {
      margin-top: 20px;
      margin-bottom: 18px;
      max-width: 630px;
      font-family: "Inter";
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.26px;
    }

    &__img {
      display: block;
      margin: 28px auto 70px;
      width: 100%;
    }
  }


}

@media (max-width: 450px) {
  .projects__title_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.26px;
  }

  .bigbox {
    margin-left: 20px;
  }
}